<!doctype html>

<html>
    <head>
        <title>NeonOatmeal</title>
        <div>
            <h3>NeonOatmeal</h3>
            <a href="{{ url_for('home') }}">Home</a>
        </div>
    </head>
    <body>
        <div>
            <hr>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
